body {
  padding: 0;
  margin: 0;
  font-family: "Open Sans", sans-serif;    
  background: #D9DEF2;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
